[Unit]
Description=MCDU MQTT Client
Documentation=https://github.com/Flixhummel/ioBroker.mcdu
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/ioBroker.mcdu/mcdu-client
EnvironmentFile=/home/pi/ioBroker.mcdu/mcdu-client/config.env
ExecStart=/usr/bin/node /home/pi/ioBroker.mcdu/mcdu-client/mcdu-client.js
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mcdu-client

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
